/*Fuentes*/
@font-face{
    font-family: "Squada";
    src: url("fonts/SquadaOne-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

/*Estilos generales*/
*{
    padding: 0%;
    margin: 0%;

}

body{
    background-color: rgb(185, 168, 135);
    
}

#header{
    min-width: 1024px;
    width: 100%;
    height: 250px;
    margin: 0px auto;
}

#header a{
    text-decoration: none;
}

#header #logo{
    width: 770px;
    margin: 0px auto;
    padding-top: 20px;
}

#header #logo img{
    display: block;
    text-align: center;
    margin: 0px auto;
    width: 140px;
}

#header h1{
    text-align: center;
    font-size: 40px;
    color: #011140;
    font-family:"Squada";
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 10px;
    text-shadow: 1px 3px 2px wheat;
    transition: all 300ms;
    
}

#header h1:hover a{
    color: wheat;
    text-shadow: 1px 3px 2px black;

}

#header h1 a{    
   color: #011140;
}

#nav{
    min-width: 1250px;
    width: 100%;
    background-color: #333333;
    color: wheat;
    height: 40px;
    font-family: sans-serif, Helvetica;
    font-size: 14px;
    box-shadow: 0px 0px 2px wheat;
}

#nav ul{
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    width: 350px;
}

#nav > ul > li{
    line-height: 40px;
    float: left;
    border-right: 2px solid #262626;
    transition: all 800ms;
}

#nav > ul > li a{
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    color: wheat;
    text-decoration: none;
}

#nav > ul > li > a:first-child{
    border-left: 2px solid #262626;
}

#nav > ul > li:hover{
    background-color: rgb(138, 76, 40);
    box-shadow: 0px 0px 4px rgb(138, 76, 40) inset;
}

/*menu desplegable*/
 #nav > ul > li > ul{
     display: none;
     position: absolute;
     color: wheat;
     text-align: left;
     width: 160px;
     box-shadow: 0px 2px 2px gray;
     z-index: 1;
 }

 #nav > ul > li:hover ul{
     display: block;
 }

 #nav > ul > li:hover > ul > li{
     background-color: #A6653F;
     border-bottom: 2px solid #333333;
     border-right: 2px solid #333333;
     border-left: 2px solid #333333;
     padding: 8px;
     line-height: 25px;
     font-size: 13px;

 }

 #nav > ul > li:hover > ul >li:first-child{
     border-top: 2px solid #333333;
 }

 #nav > ul > li:hover > ul > li:hover{
     box-shadow: 0px 0px 2px #333333 inset;
 }

 #content{
     width: 1250px;
     min-height: 1100px;
     margin: 0px auto;
 } 

 #aside, #frase{
     
     width: 200px;
     float: left;
     margin: 30px;
     background-color: #FCF0E4;
     box-shadow: 0px 2px 2px wheat;
     border: 1px solid wheat;
     font-family: sans-serif, Arial, Helvetica;
 }


 #frase{
    /* clear: both;*/
     padding: 10px;
     font-size: 14px;
     font-family: sans-serif;
     width: 180px;
     font-style: italic;
 }

 #aside .widget{
     
     display: block;
     width: 180px;
     margin: 5px auto;
     padding: 8px;
     padding-left: 10px;
     padding-right: 10px;
     font-size: 14px;
     
 }

 #aside .widget:last-child{
     margin-bottom: 20px;
 }

 .widget img{
     width: 180px;
     padding-top: 40px;
     
 }

 #aside h3{
     display: block;
     color: #333333;
     width: 100%;
     text-align: center;
     padding-top:  2px;
     padding-bottom: 2px;
     background-color: wheat;
     border: 1px solid #ccc;
     border-left: none;
     border-right: none;
     margin-bottom: 15px;
 }

 /*Formularios */
 input[type="text"],
 input[type="password"]{
     border: 1px solid #ccc;
     box-shadow: 0px 0px 2px #ccc inset;
     background-color: white;
     padding: 1px;
     padding-top: 2px;
     padding-bottom: 2px;
     color: gray;
     
 }

 
 input[type="text"]:focus,
 input[type="password"]:focus{
     border: 1px solid wheat;
     color: black;

 }

 input[type="submit"]{
     display: block;
     border-radius: 2px;
     width: 60px;
     padding: 3px;
     padding-top: 5px;
     background-color: wheat;
     border:  1px solid wheat;
     cursor: pointer;

 }

 input[type="submit"]:hover{
     box-shadow: 0px 0px 2px gray inset;
 }

 #aside div label,
 #aside div input[type="text"],
 #aside div input[type="password"]{
    display: block;
    width: 95%;
    margin-top:  2px;
    margin-bottom: 2px;
 }

 #aside div input[type="submit"]{
     margin-top: 5px;
     margin-bottom: 10px;
 }

 #aside input,
 #aside label{
     text-align: center;
     margin: 0px auto;
 }

 #login a{
    display: block;
    color:#A6653F;
    text-decoration: none;
    text-align: center;
    margin: 0px auto;
    
 }

 #login a:visited{
    color: #A6653F;
 }

 #login a:hover{
     color: black;
 }

 /*Secciones*/

 #section{
    float: right;
    width: 75%;
    font-family: sans-serif;
    margin-right: 20px;

 }

 #section h2{
    font-size: 25px;
    margin-bottom: 5px;
    font-weight: bold;
 }

 #section .titulo{
     font-family: Helvetica, sans-serif;
     font-size: 24px;
     font-weight: normal;
     letter-spacing: 1px;
     text-align: center;
     margin-top: 20px;
     padding-top: 20px;
     padding-bottom: 10px;
     border-bottom: 1px solid #ccc;
 }

 #section section{
     margin-top: 40px;
     background-color: wheat;
     padding: 20px;
     border: 1px solid wheat;
     box-shadow: 0px 0px 5px wheat;
     color: #333333;
     font-size: 16px;
     overflow: hidden;
 }

 #section .article{
     margin: 10px;
     margin-top: 20px;
     margin-bottom: 20px;
 }

 #section .date{
     color: gray;
     font-size: 10px;
 }

 #section .stickerOne, 
 #section .stickerTwo{
    position: absolute;
    margin-top: -40px;
    z-index: 0;
 }

 #section .stickerTwo{
     margin-left: 860px;
 }

 .article  p img{
    display: block;
    height: 400px;
    margin: 0px auto;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 2px solid black;
 }

 .article  p iframe{
    display: block;
    height: 400px;
    margin: 0px auto;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 2px solid black;
 }

 .article a{
     color: #A6653F;
     text-decoration: none;
     cursor: pointer;
 }

 .clearFix{
     float: none;
     clear: both;
 }

 #history{
     float: right;
     margin-top: 20px;
     font-family: Helvetica, sans-serif;
     margin-right: 20px;
     background-color: wheat;
    }

#history a{
    text-decoration: none;
    color: #333333;
}

 #footer{
     width: 100%;
     margin: 0px auto;
     text-align: center;
     margin-top: 40px;
     background-color: #333333;
     padding-top: 10px;
     padding-bottom: 10px;
     color: wheat;
     font-family: sans-serif;
     font-size: 14px;
     box-shadow: 0px 0px 2px gray;
 }

